body {
    /* background-color: #30cbbe; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mini-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.mini-class {
    padding: 20px 20px;
    background-color: #8C6A5D;
    color: #EEE4B1;
    border-radius: 20px;
}

span {
    color: #E5E483;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    flex-basis: 45%;
    text-align: center;
    color: white;
}

.bt-in {
    border: 1px solid #dee2e6;
    background-color: #dee2e6;
    height: 45px;
    width: 32%;
    cursor: pointer;
}

/* digital clock ------------------------------------------------------------------------*/

.clock {
    color: white;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.mini1-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* slot-machine ---------------------------------------------------*/
.slot-span {
    font-family: cursive;
    font-weight: 600;
}

.head-slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slot-p {
    color: white;
    font-weight: 300;
    font-size: 22px;
}

/* events-------------------------------------------------------- */
.event {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(139, 60, 168);
}

.event-btn {
    text-transform: uppercase;
    cursor: pointer;
    padding: 20px;
    background: transparent;
    font-size: 20px;
    color: white;
    border-radius: 43px;
    background-color: rgb(139, 60, 168);
    border: none;
}