body {
    /* background-color: #30cbbe; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mini-div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.mini-class{
    padding: 20px 20px;
    background-color: #8C6A5D;
    color:#EEE4B1;
    border-radius: 20px;
}

span{
    color:#E5E483;
}