body {
    background-color: #5f6164;
}

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-img-top {
    max-height: 425px;
}

.heading {
    text-transform: uppercase;
    background-color: #4e565e;
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-size: 33px;
    font-weight: 500;
}